<h2>Dashboard</h2>
<hr />

<div class="dashboard" *ngIf="data$ | async as data">
  <div class="dashboard__users">
    <h3>Users</h3>
    <app-users
      *ngIf="data.users"
      [users]="data.users"
      (whenUserSelected)="onUserSelected($event)"></app-users>
  </div>

  <div>
    <app-user
      *ngIf="selectedUser$ | async as selectedUser; else noSelectedUser"
      [user]="selectedUser"
      (whenPostSelected)="onPostSelected($event)"></app-user>

    <ng-template #noSelectedUser>
      <p>Please select a user.</p>
    </ng-template>
  </div>

  <div class="dashboard__posts">
    <h3>Other posts...</h3>
    <hr />
    <app-posts
      *ngIf="data.posts"
      [posts]="data.posts"
      (whenPostSelected)="onPostSelected($event)"></app-posts>
  </div>
</div>
