.dashboard
  display: grid
  grid-template-columns: 15% 70% 15%

  &__users
    background: #333333
    color: #eeeeee

  &__users, &__posts
    ul
      list-style-type: none
    li
      cursor: pointer
      padding: 10px

  hr
    border: 0
    border-top: 1px solid black
