h1,
h2,
h3,
h4,
h5,
h6
  padding: 10px

.user
  padding: 10px

  hr
    border: 0
    border-top: 1px solid black
    margin: 20px 0

  p
    margin-bottom: 10px
    &:last-of-type
      margin-bottom: 0

  &__detail
    background: #eeeeee
    padding: 10px


  &__posts
    ul
      list-style-type: none
      margin: 0
      padding: 0


    li
      cursor: pointer
      padding: 10px
