<div class="user">
  <h3>{{ user.user.name }}</h3>

  <hr />

  <div class="user__detail" *ngIf="user?.user as detail">
    <p>Name: {{ detail.name }}</p>
    <p>Number: {{ detail.phone }}</p>
    <p>EMail: {{ detail.email }}</p>
    <p>Website: {{ detail.website }}</p>
  </div>

  <hr />

  <div class="user__posts" *ngIf="user?.posts as posts">
    <h4>Posts</h4>
    <ul>
      <li *ngFor="let post of posts" (click)="onClick(post)">{{ post.title }}</li>
    </ul>
  </div>
</div>
