/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap')

*
  font-family: 'Uchen', serif
  margin: 0
  padding: 0
